// Breakpoints
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

@mixin eui-thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--eui-border) transparent;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--eui-border);
        border-radius: 3px;

        &:hover {
            background-color: var(--eui-text-muted);
        }
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
